<h1>Buffet <%= @event.buffet.brand_name %></h1>
<h2><%= @event.name %></h2>

<% if owner_signed_in? %>
  <div>
    <%= link_to 'Editar Evento', edit_event_path(@event) %> | 
    <%= link_to 'Adicionar Custos do Evento', new_event_event_cost_path(@event) %>
    <%= button_to 'Excluir Evento', @event, method: :delete, onclick: "return confirm('Você tem certeza?');" %>
  </div>
<% end %>

<dl>
  <div>
    <dt><%= I18n.t 'activerecord.attributes.event.description' %>:</dt>
    <dd><%= @event.description %></dd>
  </div>
  
  <div>
    <dt><%= I18n.t 'activerecord.attributes.event.min_people' %>:</dt>
    <dd><%= @event.min_people %></dd>
  </div>
  
  <div>
    <dt><%= I18n.t 'activerecord.attributes.event.max_people' %>:</dt>
    <dd><%= @event.max_people %></dd>
  </div>
  
  <div>
    <dt><%= I18n.t 'activerecord.attributes.event.duration' %></dt>
    <dd><%= @event.duration %> min</dd>
  </div>
  
  <div>
    <dt><%= I18n.t 'activerecord.attributes.event.menu' %>:</dt>
    <dd><%= @event.menu %></dd>
  </div>

  <div>
    <dt>Serviços:</dt>
    <dd>
      <ul>
        <% if @event.alcoholic_beverages %>
          <li><%= I18n.t 'activerecord.attributes.event.alcoholic_beverages' %></li>
        <% end %>

        <% if @event.decoration %>
          <li><%= I18n.t 'activerecord.attributes.event.decoration' %></li>
        <% end %>

        <% if @event.parking %>
          <li><%= I18n.t 'activerecord.attributes.event.parking' %></li>
        <% end %>

        <% if @event.parking_valet %>
          <li><%= I18n.t 'activerecord.attributes.event.parking_valet' %></li>
        <% end %>

        <% if @event.customer_space %>
          <li><%= I18n.t 'activerecord.attributes.event.customer_space' %></li>
        <% end %>
      </ul>
    </dd>
  </div>
</dl>

<h2>Valores</h2>
<section id='event-cost'>
  <% if @event_costs.present? %>
    <% @event_costs.each do |event_cost| %>
      <div id=<%= event_cost.description.downcase.gsub(' ', '-') %> >
        <div>
          <p>
            <%= event_cost.description %>
            <% if owner_signed_in? %>
              | <%= link_to 'Editar', edit_event_event_cost_path(@event) %>
            <% end %>
          </p>
        </div>

        <dl>
          <div>
            <dt><%= 'Valor inicial:' %></dt>
            <dd><%= event_cost.minimum %></dd>
          </div>

          <div>
            <dt><%= 'Preço adicional:' %></dt>
            <dd><%= event_cost.additional_per_person %>/pessoa</dd>
          </div>

          <div>
            <dt><%= 'Hora extra:' %></dt>
            <dd><%= event_cost.overtime %>/hora</dd>
          </div>
        </dl>
      </div>
    <% end %>
  <% else %>
    <p>Nenhum valor cadastrado</p>
  <% end %>
</section>

<% if customer_signed_in? %>
  <h2><%= link_to 'Contratar serviço', new_event_order_path(@event) %></h2>
<% end %>
