<% if customer_signed_in? %>
  <h1 id=customer-orders>Meus Pedidos</h1>
<% elsif owner_signed_in? %>
  <h1 id=buffet-orders>Pedidos do <%= @buffet.brand_name %></h1>
<% end %>

<% if customer_signed_in? %>
  <h2>Aguardando Confirmação:</h2>
    <% @proposal_orders.each do |proposal_order| %>
      <%= I18n.l proposal_order.order.event_date %> - <%= proposal_order.order.code %>: Confirmar até <%= l proposal_order.validate_date %>
      <%= link_to 'Ver proposta', order_proposal_path(proposal_order.order, proposal_order) %>
    <% end %>
<% end %>

<% if customer_signed_in? %>
  <section>

    <% if @orders.present? %>
      <% @orders.each do |order| %>

        <div>
          <%= link_to order do %>
            <%= I18n.l order.event_date %> - <%= order.code %>
          <% end %>
        </div>

      <% end %>

    <% else %>
      <p>Nenhum pedido cadastrado</p>
    <% end %>

  </section>

<% elsif owner_signed_in? %>
  <section>
    <p>Aguardando avaliação:</p>

    <% if @pending_orders.present? %>
      <% @pending_orders.each do |order| %>

        <ul>
          <%= link_to order do %>
            <li><%= I18n.l order.event_date %> - <%= order.code %></li>
          <% end %>
        </ul>

      <% end %>
    <% else %>
      <p>Nenhum evento pendente.</p>

    <% end %>
  </section>

  <section>
    <p>Aprovados:</p>
    
    <% if @approved_orders.present? %>
      <% @approved_orders.each do |order| %>

        <ul>
          <%= link_to order do %>
            <li><%= I18n.l order.event_date %> - <%= order.code %></li>
          <% end %>
        </ul>

      <% end %>
    <% else %>
      <p>Nenhum evento aprovado.</p>

    <% end %>
  </section>

  <section>
    <p>Cancelados:</p>
    
    <% if @canceled_orders.present? %>
      <% @canceled_orders.each do |order| %>

        <ul>
          <%= link_to order do %>
            <li><%= I18n.l order.event_date %> - <%= order.code %></li>
          <% end %>
        </ul>

      <% end %>
    <% else %>
      <p>Nenhum evento cancelado.</p>

    <% end %>
  </section>
<% end %>
