<h1>Contratar <%= @event.name %></h1>

<div>
  <p><%= link_to 'Voltar para Evento', @event %></p>
</div>

<% if @order_errors.present? %>
  <p>Atente-se aos erros abaixo:</p>

  <ul>

    <% @order_errors.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    
  </ul>

<% end %>

<%= form_with model: [@event, @order] do |f| %>
  <div>
    <%= f.label :event_date %>
    <%= f.date_field :event_date %>
  </div>

  <div>
    <%= f.label :people %>
    <%= f.number_field :people %>
  </div>

  <div>
    <%= f.label :details %>
    <%= f.text_area :details %>
  </div>

  <% if @event.customer_space %>
    <div>
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>
  <% end %>

  <div>
    <%= f.submit %>
  </div>
<% end %>
