<h1>Contratar <%= @event.name %></h1>

<%= form_with model: [@event, @order] do |f| %>
  <div>
    <%= f.label :event_date, 'Data do evento' %>
    <%= f.date_field :event_date %>
  </div>

  <div>
    <%= f.label :people, 'Número de pessoas' %>
    <%= f.number_field :people %>
  </div>

  <div>
    <%= f.label :details, 'Detalhes da festa' %>
    <%= f.text_area :details %>
  </div>

  <% if @event.customer_space %>
    <div>
      <%= f.label :address, 'Local da festa' %>
      <%= f.text_field :address %>
    </div>
  <% end %>

  <div>
    <%= f.submit 'Criar Pedido' %>
  </div>
<% end %>
