<h1><%= I18n.l(@order.event_date) %> - <%= @order.code %></h1>

<%# Validação para somente o Proprietáiro ver esse aviso %>
<ul>
  <% @conflicting_orders.each do |conflicting_order| %>
    <li>AVISO: Evento <%= l conflicting_order.event_date %> - <%= conflicting_order.code %> no MESMO DIA!!!</li>
  <% end %>
</ul>

<p><%= @order.buffet.brand_name %></p>

<dl>
  <div>
    <dt>Evento:</dt>
    <dd><%= @order.event.name %></dd>
  </div>

  <div>
    <dt>Status:</dt>
    <dd><%= t @order.status %></dd>
  </div>

  <div>
    <dt>Detalhes da festa:</dt>
    <dd><%= @order.details %></dd>
  </div>

  <div>
    <dt>Local da festa:</dt>
    <dd><%= @order.address %></dd>
  </div>

  <div>
    <dt>Número de pessoas:</dt>
    <dd><%= @order.people %></dd>
  </div>
</dl>

<% if owner_signed_in? %>
  <%= link_to 'Aprovar pedido', new_order_proposal_path(@order) %>
<% end %>
