<!DOCTYPE html>
<html>
  <head>
    <title>Td12FindBuffets</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <h1>Buffets</h1>
      <% end %>
      <nav>
        <div id=search>
          <%= form_with url: buffets_path, method: :get do |f| %>
            <%= f.label :query, 'Buscar Buffet' %>
            <%= f.text_field :query %>
            <%= f.submit 'Buscar' %>
          <% end %>
        </div>
        <div id=owner-login>
          <% if owner_signed_in? %>
            <%= current_owner.description %>
            <%= button_to 'Sair', destroy_owner_session_path, method: :delete %>
          <% elsif customer_signed_in? %>
            <%= current_customer.description %>
            <%= button_to 'Sair', destroy_customer_session_path, method: :delete %>
          <% else %>
            <%= link_to 'Login para Dono de Buffet', new_owner_session_path %> | 
            <%= link_to 'Login para Clientes', new_customer_session_path %>
          <% end %>
        </div>
      </nav>
    </header>
    <main>
      <div>
        <%= notice %>
        <%= alert %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
